<!DOCTYPE html>
<html>
<head>
	<title>Culture Shock - Blog</title>
</head>
<body>
	<h1>Existing Blogs</h1>

<!-- 		<% @posts.each do |anything| %>
		title: <%= anything.title %>
		text: <%= anything.text %>
		<br>
		<% end %> -->

	<h1>Add your own post</h1>
	<form>
		<article>put a title here here</article>
		<input type="textarea" name="title">
		<article>put some text here</article>
		<input type="textarea" name="text">
		<input type="submit" name="input" placeholder="upload_post">
	</form>
</body>
</html>