<!DOCTYPE html>
<html>
<head>
	<title>Culture Shocked - Blog</title>
</head>
<body>
	<div>
		<h1>
			<span style="color:blue;font-weight:bold">
				Blog
			</span>
		</h1>
	</div>

	<form>

			<label for="title">Subject:</label>
			<textarea></textarea>
			<br>
			<br>

			What's on your mind?
			<br>
			(150 or fewer characters:
			<br>
			<label for="text">Your Post:</label>
			<textarea cols="50" rows="4" name=""></textarea>
			<br>

			<input type="submit" onclick="validateForm()">
			<p></p>

			Newsfeed - 10 most recent posts:
			<br>
			<label for="feed">Newsfeed</label>
			<textarea cols="50" rows="40" name="comment"></textarea>
			<br>
			<br>
			<p></p>

	</form>
</body>
</html>