<div class="row">
	<div class="col-md-6 col-md-offset-4">
		<h2 class="create-profile">Create Your Profile</h2>

			<form method="POST" action="/profile_prompt" class="create-profile">
				<p>*All fields required</p>



			<label for="text">First name:</label><br>
			<textarea cols="50" rows="1" name="fname" placeholder="First name" required></textarea>
			<br>
			<br>


			<label for="text">Last name:</label><br>
			<textarea cols="50" rows="1" name="lname" placeholder="Last name" required></textarea>
			<br>
			<br>


			<label for="text">Location:</label><br>
			<textarea cols="50" rows="1" name="locaiton" placeholder="Location" required></textarea>
			<br>
			<br>


			<label for="text">Biography:</label><br>
			<textarea cols="50" rows="6" name="bio" placeholder="Biography" required></textarea>
			<br>
			<br>

			<label for="text">Userid:</label><br>
			<textarea cols="50" rows="1" name="user_id" placeholder="Userid" required>
			</textarea>
			<br>

			<input type="submit">
			<br>
			<br>


			</form>

	</div>
</div>