	<div class="title">
		<h1>
			<span style="color:blue;font-weight:bold">
				Create Your Profile
			</span>
		</h1>
	</div>

		<form method="POST" action="/createprofile">

			<p>*All fields required</p>

			<label for="fname">
				First Name:
			</label>
			<textarea cols="50" rows="1" type="text" name="fname" placeholder="First name" required></textarea>
			<br>
			<br>

			<label for="lname">
				Last Name:
			</label>
			<textarea cols="50" rows="1" type="text name="lname" placeholder="Last name" required></textarea>
			<br>
			<br>

			<label for="location">
				Location:
			</label>
			<textarea cols="50" rows="1" type="text" name="location" placeholder="Location" required></textarea>
			<br>
			<br>

			<label for="bio">
				Biography:
			</label><br>
			<textarea cols="50" rows="6" type="text" name="bio" placeholder="Biography" required></textarea>
			<br>
			<br>

			<label for="user_id">
				Userid:
			</label><br>
			<textarea cols="50" rows="1" type="hidden" name="user_id" placeholder="Userid" required>
			</textarea>
			<br>

			<input type="submit">
			<br>
			<br>


		</form>

	</div>
</div>