<div class="row">
	<div class="col-md-6 col-md-offset-4">
		<h2>Delete Account</h2>
		<form method="POST" action="/delete_account">
			<input type="submit" value="Delete Account" name='delete'>
		</form>
		<br>
	</div>
</div>