	<div class="title">
		<h1>
			<span style="color:blue;font-weight:bold">
				Home
			</span>
		</h1>
	</div>
		<h2>
			Welcome to the <span style="color:red;font-weight:bold"><i>Culture Shocked!!!</i></span>  blog!
		</h2>
			<p>
				Are you visiting or just moved here from a foreign land (whether from around the world, or from accross the country, or just another part of the same state)?
			<p>
				Does everythng seem strange and unfamiliar?  Are you feeling a bit disoriented?  Maybe you have questions about the culture..., way of life..., or social customs?
			</p>
			<p>
				You may be....
			</p>
			<h2 style="color:red;"><i>Culture Shocked!!!</i></h2>
			<p>
				You're not alone!  People all around you are feeling the same way.  Many of them have the same questions you have!
			</p>
			<p>
				Whether it is questions about -- where something is--, how to do something (like ride the subway, or catch a cab!--, or "why do people here do that"--?
			</p>
				<span style="color:blue;font-weight:bold"><i>You've come to the right place!</i></span>  
			</p>
			<h4>
				Welcome to the <span style="color:red;font-weight:bold"><i>Culture Shocked!!!</i></span>  blog!
			</h4>
			<p>
				A place to Read, Comment, Share <span style="color:red;font-weight:bold"><i>Culture Shocked!!!</i></span> experiences with others like you, ...who care!
			</p>
			<p>
				If you decide to share, please go to the Signup page <a href="/signup">signup</a>  and join us!
			</p>
			<p>
				Happy blogging...
			</p>

<script type="text/javascript" src="main.js"></script>