<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
	<title>Culture Shock - Home</title>
<body>
	<div class="title"><h1>Home</h1></div>
		<h2>
		
		</h2>


<script type="text/javascript" src="main.js"></script>

</body>
</html>