<!DOCTYPE html>
<html>
<head>
	<title>Culture Shock</title>
	<link rel="stylesheet" type="text/css" href="stylesheet.css">

	<style>

		div.transbox {
		  height: 80%;
		  width: 60%;
		  margin: auto;
		  background-color: #ffffff;
		  border: 1px solid black;
		  opacity: 0.65;
		  filter: alpha(opacity=65);
		}

		div.transbox p {
		  margin: 5%;
		  font-weight: bold;
		  color: #000000;
		}

	</style>

</head>

<body>

	<div class="wrapper"
		<!-- Uniform navbar --> 

		<div class="header">
			<div class="headerContent">
				<div class="navbar">
				<p><img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTmPKec3ZGLnG5FE3yEXdc8rL_YITTTC2utU2HEZg9X88mf1Qfb" width="100px"></p>
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/blog">Blog</a></li>
						<li><a href="/myprofile">My Profile</a></li>
						<li><a href="/profiles">Profiles</a></li>
						<li><a href="/signup">Signup</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

		<h1>Culture Shock!!!</h1>

	<!-- UNIFORM Social Media sidebar --> 

		<div class="sociialnavbar">

		   	<ul class="navbar-brand">

				<li class="active">
				<a href="https://www.facebook.com/">
			  	<img src="http://dmypbau5frl9g.cloudfront.net/assets/header-footer/social/facebook-874a79814979fb7a5d8a61f391e429b7.svg">
	  			</a></li>

	  			<li class="active"><a href="https://twitter.com/">
	  			<img src="http://dmypbau5frl9g.cloudfront.net/assets/header-footer/social/twitter-aa07ff4bd2114f6eaaabecb8441d503c.svg">
	  			</a></li>
	  		</ul>

		</div>

	<!-- Uniform footer at bottom before  -->


	<div class="background">
	  <div class="transbox">
	    <%= yield %>
	  </div>
	</div>

			
<!-- UNIFORM Footer - position at bottom, above end of body -->


		<div class="footer">
			<p>
				Culture Shock!
			</p>
		</div>

</body>
</html>

