<!DOCTYPE html>
<html>
<head>
	<title>Culture Shocked - My Profile</title>
</head>
<body>

	<div class="title">
		<h1>
			<span style="color:blue;font-weight:bold">
				My Profile
			</span>
		</h1>
	</div>

</body>
</html>
 