<!DOCTYPE html>
<html>
<head>
	<title>Culture Shock - Profiles</title>
</head>
<body>
	<h1>Culture Shock - Profiles</h1>

	<% @anything.each do |anything| %>
	Name: <%= anything.username %>
	<!-- password: <%= anything.password %> -->
	<br>
	<p></p>
	<% end %>

</body>
</html>