	<div class="title">
		<h1>
			<span style="color:blue;font-weight:bold">
				Login
			</span>
		</h1>
	</div>
		<% @users.each do |anything| %>
		Name: <%= anything.username %>
	<br>
	<p></p>
	<% end %>