<!DOCTYPE html>
<html>
<head>
	<title>Culture Shock - Profiles</title>
</head>
<body>
	<h1>Profiles</h1>

		<% @users.each do |anything| %>
		Name: <%= anything.username %>
	<br>
	<p></p>
	<% end %>

</body>
</html>