<!DOCTYPE html>
<html>
<head>
	<title>Culture Shocked - Profiles</title>
</head>
<body>

	<div class="title">
		<h1>
			<span style="color:blue;font-weight:bold">
				Profiles
			</span>
		</h1>
	</div>

		<% @users.each do |anything| %>
		Name: <%= anything.username %>
	<br>
	<p></p>
	<% end %>

</body>
</html>