/* UNIFORM CODE FOR ALL PAGES */

/* UNIFORM BODY */

body {
	font-family: sans-serif;
	text-align: center;

	background:
	linear-gradient(135deg, #708090 22px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px),
	linear-gradient(225deg, #708090 22px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px)0 64px;
	background-color:#708090;
	background-size: 64px 128px

	padding: 0 40px;
	margin: 0 auto;
	width: 100%;
	height: 100%;
}


div.transbox {
	height: 80%;
	width: 60%;
	margin: auto;
	background-color: #ffffff;
	border: 1px solid black;
	opacity: 0.65;
	filter: alpha(opacity=65);
}

div.transbox p {
	margin: 5%;
	font-weight: bold;
	color: #000000;
}

.header {
	width: 100%;
	height: auto;
}

.headerContent {
	width: 100%;
	height: 100px;
	margin: 0 auto;
}

.headerContent > img {
	margin: 0 auto;
	display: block;
}

/* BEGIN UNIFORM NAVBAR */

.header > .headerContent > .navbar {
	height: 100px;
	background-color: black;
	border-top: 2px black solid;
}


.header > .headerContent >.navbar {
	height: 40px;
	background-color: black;
	border-top: 2px #3A3A38 solid;
}

.header > .headerContent > .navbar > p {
	float: left;
}

.header > .headerContent > .navbar > ul {
	margin: 0;
	padding: 0;
}

.header > .headerContent > .navbar > ul > li {
	list-style: none;
}

.header > .headerContent > .navbar > ul > li > a {
	text-decoration: none;
	display: block;
	float: left;
	padding: 10px 20px;
	color: black;
}


.header > .headerContent >.navbar > ul {
	margin: 0;
	padding: 0;
}


.header > .headerContent > .navbar > ul > img
	

.header > .headerContent > .navbar > ul > li {
	list-style: none;
}

.header > .headerContent > .navbar > ul > li > a {
	text-decoration: none;
	display: block;
	float: left;
	padding: 10px 20px;
	color: white;
}


/* UNIFORM Social Media Side Bar */

.sociialnavbar {
	height: 300px;
	width: 60px;
	border-top-right-radius: 2em;
	border-bottom-right-radius: 2em;
	margin: 0 auto;
	margin-top: 72px;
	padding: 0 -100 0 0;
	position: fixed;
}

.sociialnavbar > .navbar-brand {
	margin: 30px auto;
	padding: 0 -100 0 0;
	float: left;
	position: fixed;
	width: 40px;
}

.sociialnavbar > .navbar-brand > .active {
	list-style-type: none;
	width: 40px;
}	

h1 {
	text-align: center;
	color: black;
	text-shadow: 100% gray;
	font-family: "sans-serif";
	font-size: 45px;
	padding-top: 0;
}

h2 {
	text-align: center;
}

p {
	text-align: left;
}

img {
	border-radius: 2000px;
	align: center;
	margin: 0 auto;
	opacity: 500;
}

span {
	color: tan;
}

/* START - UNIFORM FOOTER */

.footer {
	position:relative;
	height:100px;
	width: 100%;
}

.footer p{
	text-align:center;
}

/* END - UNIFORM FOOTER 